.faq-question {
	border: solid 1px #BBBBBB;
	background-color: #F0F0F0;
	text-align: center;
	padding: 5px;
}

.faq-question:hover {
	background-color: #D0D0D0;
}

.answer {
	padding-top: 10px;
	display: none;
}

.faq-question a {
	color: #003300;
	text-decoration: underline;
}

.faq-question a:hover {
	color: #BFDF8A;
	text-decoration: underline;
}

/* Small Screens */
@media only screen and (max-width: 40em)  { 
	.faq-question {
		min-height: 60px;
	}
}

/* Medium Screens */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}
