.faq {
  min-height: 90%;
}

.faq * {
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.accordion-navigation * {
	color: #4B651E !important;
}

.content p {
	margin: 10px;
}

.footer {
	margin-top: 20px;
}

h4 {
  text-decoration: underline;
  /*color: #BFDF8A;*/
}

/*Small Only*/
@media only screen and (max-width: 40em)  { 

}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .content {
  	padding-right: 20px;
  	padding-left: 20px;
  }
}


