@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

body * {
  font-family: Futura Next, "Trebuchet MS", Arial, sans-serif !important;
  color: #4B651E;
}

p, .text {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
}

a {
  color: #4B651E;
  text-decoration: underline;
}

a:hover {
  color: #BFDF8A;
}

.title {
  margin-top: 5%;
  text-align:center;
}

.title h1 {
  color: #4B651E;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 

  .content p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
  }

}