body {
  background-color: #fefefe;
}

body * {
  font-family: "acumin-pro", Arial, sans-serif;
  color: #003300;
}

.main, .extra-info {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title *, .sub-title *, .heading * {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
  text-align: center !important;
}

.title {
  padding: 10px;
}

.sub-title {
  padding: 10px;
  text-decoration: underline;
}

.text {
  text-align: justify !important;
  font-size: 16px !important;
}

/*Small screens*/
@media only screen and (max-width: 40em)  {
  .main, .extra-info {
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 100%;
    margin-bottom: 0px;
    padding: 25px;
    padding-bottom: 0px;
  }

  .main .text {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Medium Screens */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .extra-info {
    padding-top: 0px;
  }
}