.landing {
  padding-bottom: 30px;
  min-height: 30%;
}

.landing img {
  border: 3px solid #4B651E;
}

.landing-image {
  float: right;
  max-width: 50%;
  margin-left: 20px;
}
.content-buttons a {
  border: 3px solid #4B651E;
  background-color: white;
  color: #4B651E;
  text-align: center;
  padding: 10px; 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.content-buttons a:hover {
  background-color: #BFDF8A;
  color: black;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 90%;
  height: 90%;
  border-radius: 1000px;
  border: 7px solid #FFFFFF !important;
}

.image.show-for-small-only {
  margin: 10px;
}

.prices img{
  border: 7px solid #4B651E !important;
}

.section {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.section img {
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section.hide-for-large-up .content{
  max-width: 800px;
}

.section h3 {
  text-decoration: underline;
}

.meat, .service {
  background-color: #4B651E;
}

.meat *, .service * {
  color: white;
}

.prices * {
  color: #4B651E;
}

.section img.show-for-medium-only {
  float: left;
  margin: 10px;
  border-radius: 1000px;
  border: 7px solid #FFFFFF !important;
}

.prices img.show-for-medium-only {
  float: right;
  border: 7px solid #4B651E !important;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 
  .content-buttons{
    width: 100%;
  }

  .landing {
    min-height: 100%;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .content-buttons a {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 10px;
  }

  .section.hide-for-large-up .content{
    max-width: 60%;
    min-width: 500px;
  }
}
