.landing {
  padding-bottom: 30px;
  min-height: 30%;
}

.landing img {
  border: 3px solid #4B651E;
}

.content-buttons {
  bottom: 0;
}

.content-buttons a {
  border: 3px solid #4B651E;
  background-color: white;
  color: #4B651E;
  text-align: center;
  padding: 10px; 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  margin-bottom: 10px;
  float:left;
  clear:left;
  width: 100%;
}

.content-buttons a:hover {
  background-color: #BFDF8A;
  color: black;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices img{
  border: 7px solid #4B651E !important;
}

.content img {
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content {
  margin-bottom: 50px;
}

.divider {
  border-top: 1px #4B651E solid;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .heading {
  text-decoration: underline;
  text-align: center;
}

.prices *, .meat *, .service * {
  color: #4B651E;
}

.section img.show-for-medium-only {
  float: left;
  margin: 10px;
  border-radius: 1000px;
  border: 7px solid #FFFFFF;
}

.prices img, .meat img, .service img {
  border-radius: 1000px;
  border: 7px solid #4B651E;
}

.prices img.show-for-medium-only {
  float: right;
}

/*Small screens*/
@media only screen and (max-width: 40em)  { 
  .landing {
    padding: 10px;
  }

  .section h3 {
    text-decoration: underline;
  }

  .landing {
    padding-bottom: 50px;
  }

  .meat, .service {
    background-color: #4B651E;
  }

  .meat * , .service * {
    color: white;
  }

  .meat img, .service img {
    border: 7px solid #ffffff;
  }

  .prices, .service, .meat {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .section .text {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 40em) {
  .section, .landing {
    padding: 10px;
  }

  .content-buttons {
    margin-top: 20px;
  }
}
