.price {
  min-height: 90%;
}

.package {
  border: solid 1px black;
  margin: 5px;
  width: 20%;
}

.package span {
  font-weight: bold;
}

.packageTitle {
  border-bottom: solid 1px black;
  text-align: center;
  color: #4B651E;
}

.packagePrice {
  text-align: center;
  padding-bottom: 5px;
}

.priceList {
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding-bottom: 30px;
 }

 /*Small screens*/
@media only screen and (max-width: 40em)  { 
  .package {
    border: solid 1px black;
    margin: 5px;
    width: 90%;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}