.bronze .title {
  background-color: #cd7f32;
}

.silver .title {
  background-color: #c0c0c0;
  color: black;
}

.gold .title {
  background-color: #ccac00;
}

.platinum .title {
  background-color: #e5e4e2;
  color: black;
}

.text {
  padding-bottom: 20px;
}

.content .title {
  margin: 0 !important;
}

.pricing-table {
  padding: 0px !important;
}

a.button {
  border: 3px solid #4B651E;
  background-color: white;
  color: #4B651E;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a.button:hover {
  background-color: #BFDF8A;
  color: black;
}

 /*Small screens*/
@media screen and (max-width: 40em) {
  .price {
    padding: 10px;
  }

}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}